@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:wght@700&display=swap');
@font-face {
     font-family: estebdad_bold;
     src: url(./font/Estedad-Bold.ttf);
}

@font-face {
     font-family: estedad_regular;
     src: url(./font/Estedad-Regular.ttf);
}

:root {
     --primary-color: orange;
     }

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
}

body{
     font-family: estedad_regular;
     background: white;
     color: white;
     overflow-x: hidden;
     width: 100%;
     height: 100%;
     direction: rtl;
}

p{
     font-size: 14px;
}

a{
     text-decoration: none;
     color: white;
}

::placeholder{
     font-family: 'estedad_regular';
}

.header {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 16px 10%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     background: #484847b7;
 }
 
 .logo {
     font-size: 1.5rem;
     color: #fff;
     text-decoration: none;
     font-weight: 700;
     display: inline-flex;
 }
 
 .logo i {
     color: orange;
     margin-top: 10px;
 }

 .navbar{
     margin-right: 50px;
 }
 
 .navbar a {
     font-size: 1.2rem;
     color: #fff;
     text-decoration: none;
     font-weight: 500;
     margin-right: 2.5rem;
     border-bottom: 2px solid transparent;
     padding-bottom: 15px;
     transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }
 
 .navbar a:hover {
     border-bottom: 2px solid orange;
     color: orange;
     padding-bottom: 5px;
 }
 
 #check {
     display: none;
 }
 
 .icons {
     position: absolute;
     font-size: 2.8rem;
     color: #fff;
     display: none;
 }
 
 .icons-s {
     width: 240px;
     display: flex;
     align-items: center;
     justify-content: end;
     font-size: 1.5rem;
     color: #fff;
     cursor: pointer;
 }
 
 .icons-s i:hover {
     color: #ECB176;
     transition: 0.3s;
 }
 
 .input_box{
     position: relative;
     max-width: 40px;
     width: 100%;
     height: 40px;
     margin: 0 30px;
     background: white;
     border-radius: 10px;
     transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input_box.open{
     max-width: 170px;
}

.input_box input{
     position: relative;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     padding: 0 15px;
     font-size: 16px;
     outline: none;
     border: none;
     transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input_box.open input{
     padding: 0 15px 0 70px;
}

.input_box .search{
     position: absolute;
     top: 0;
     left: 0;
     width: 40px;
     height: 100%;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: white;
     border-radius: 10px;
     cursor: pointer;
     transform: rotate(90deg);
     transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input_box.open .search{
     transform: rotate(360deg);
}

.input_box .close_icon{
     position: absolute;
     right: -35px;
     top: 50%;
     width: 35px;
     transform: translateY(-50%);
     padding: 5px;
     cursor: pointer;
     opacity: 0;
     pointer-events: none;
     transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input_box.open .close_icon{
     opacity: 1;
     pointer-events: auto;
     transform: translateY(-50%) rotate(180deg);
}
 
 .cart-bar {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .cart-bar .cart-number {
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: -15px;
     right: -10px;
     background: red;
     width: 22px;
     height: 22px;
     border-radius: 50%;
     font-size: 16px;
 }
 

.carousel{
     width: 100%;
     height: 110vh;
     overflow: hidden;
     margin-top: -50px;
     position: relative;
}

.carousel .list .item{
     position: absolute;
     inset: 0;
}

.carousel .list .item img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.carousel .list .item .content{
     position: absolute;
     top: 25%;
     width: 1140px;
     max-width: 80%;
     left: 80%;
     transform: translateX(-50%);
     padding-right: 30%;
     color: white;
     text-shadow: 0 5px 5px #18171770;
}

.carousel .list .item .content .author{
     font-weight: bold;
}

.carousel .list .item .content .title{
     font-size: 3em;
     font-weight: bold;
}

.carousel .list .item .content .topic{
     font-weight: bold;
     font-size: 5em;
     line-height: 1.3em;
}

.carousel .list .item .content .topic{
     color: orange;
}

.carousel .list .item .content .des{
     margin-top: 20px;
     /* font-family: estedad_semibold; */
     font-size: 14px;
     text-shadow: 0 0 5px rgba(255, 166, 0, 0.986);

}

.carousel .list .item .content .buttons{
     display: grid;
     grid-template-columns: repeat(2,130px);
     grid-template-rows:  40px;
     gap: 5px;
     margin-top: 20px;
}

.carousel .list .item .content button{
     border: none;
     background: white;
     font-weight: 500;
     border-radius: 20px;
     transition: .3s linear;
}

.carousel .list .item .content button:hover{
     background: #ec8f02;
     color: white;
     cursor: pointer;
}


.carousel .list .item .content button:nth-child(2){
     background: rgb(45, 44, 44);
     color: white;
}

.carousel .thumbnail{
     position: absolute;
     bottom: 30px;
     right: 50%;
     z-index: 100;
     max-width: max-content;
     display: flex;
     gap: 20px;
     border-radius: 20px;
}

.carousel .thumbnail .item{
     width: 140px;
     height: 200px;
     flex-shrink: 0;
     position: relative;
     border: 1px solid orange;
     border-radius: 20px;
     box-shadow: 0 5px 10px rgba(255, 166, 0, 0.384);
}

.carousel .thumbnail .item::before{
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(rgba(202, 202, 202, 0.116), rgba(10, 10, 10, 0.795));
     border-radius: 20px;
     z-index: 200;
}

.carousel .thumbnail .item img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
     /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.934); */
}

.carousel .thumbnail .item .content{
     position: absolute;
     bottom: 10px;
     left: 10px;
     right: 10px;
     z-index: 2001;
}

.carousel .thumbnail .item .content .des{
    color: orange;
}

.carousel .arrows{
     position: absolute;
     top: 85%;
     left: 68%;
     width: 300px;
     max-width: 30%;
     display: flex;
     gap: 10px;
     align-items: center;
}

.carousel .arrows button{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     border: none;
     background: rgba(104, 104, 104, 0.759);
     font-family: monospace;
     color: white;
     font-size: large;
     font-weight: bold;
     transition: .5s;
     z-index: 100;
}

.carousel .arrows button:hover{
     background: white;
     color: black;
     transform: scale(1.1);
     cursor: pointer;
}

.carousel .list .item:nth-child(1){
     z-index: 1;
}


.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons{
     transform: translateY(50px);
     filter: blur(20px);
     opacity: 0;
     animation: showText .4s 1s linear forwards ;
}

@keyframes showText {
     to{
          opacity: 1;
          filter: blur(0);
          transform: translateY(0);
     }
}

.carousel .list .item:nth-child(1) .author{
     animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .title{
     animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .topic{
     animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .des{
     animation-delay: 1.8s;
}
.carousel .list .item:nth-child(1) .buttons{
     animation-delay: 2s;
}

.carousel .list .item:nth-child(1) img{
     width: 140px;
     height: 200px;
     position: absolute;
     bottom: 50px;
     left: 50%;
     border-radius: 20px;
     animation: showImage .6s 1 linear forwards;
}

@keyframes showImage {
     to{
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          border-radius: 0;
     }
}

.carousel.next .thumbnail .item:nth-child(1){
     width: 0;
     overflow: hidden;
     opacity: 0;
     animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
     to{
          width: 140px;
          opacity: 1;
     }
}

.carousel.next .thumbnail{
     transform: translateX(150px);
     animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail {
     to{
          transform: translateX(0);
     }
}

.carousel.prev .list .item:nth-child(2){
     z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
     position: absolute;
     bottom: 0;
     left: 0;
     animation: outImage .5s linear 1 forwards;
}

@keyframes outImage {
     to{
          width: 140px;
          height: 200px;
          border-radius: 20px;
          right: 50%;
          bottom: 30px;
     }
}

.carousel.prev .thumbnail .item:nth-child(1){
     width: 0;
     overflow: hidden;
     opacity: 0;
     animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons{
     animation: contentOut 1.5s linear 1 forwards;
}


@keyframes contentOut {
     to{
          transform: translateY(-150px);
          filter: blur(20px);
          opacity: 0;
     }
}

.carousel.prev .arrows button,
.carousel.next .arrows button{
     cursor: pointer;
}

.carousel .time{
     width: 0%;
     height: 5px;
     background: #f1683e;
     z-index: 100;
     position: absolute;
     left: 0;
     top: 0;
}

.carousel.prev .time,
.carousel.next .time{
     width: 100%;
     animation: runningTime 2s linear 1 forwards;
}

@keyframes runningTime {
     to{
          width: 0;
     }
}


#about,
#menu,
#our-services,
#comments,
#products{
     width: 100%;
     max-width: 1250px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-top:30px;
     color: black;
     margin: 100px auto;
}

#about .title,
#menu .title,
#our-services .title,
#comments .title{
     text-align: center;
     position: relative;
}

#about .title::before,
#menu .title::before,
#our-services .title::before,
#comments .title::before{
     content: "";
     width: 1.5px;
     height: 60px;
     background: linear-gradient(rgba(255, 166, 0, 0.39), orange);
     position: absolute;
     bottom: 80px;
     border-radius: 5px;
}

.title h3{
     color: orange;
     font-weight: 100;
     font-size: 18px;
}

.title h2{
     font-size: 25px;
}

#menu {
     padding: 30px;
     width: 100%;
 }
 
 .menu-container {
     width: 1000px;
     margin-top: 40px;
     display: flex;
     justify-content: space-between;
     padding: 10px;
     border-radius: 10px;
 }
 
 .menu-container h1 {
     text-align: center;
 }
 
 .ctn-coffee .card {
     display: flex;
     justify-content: space-between;
     width: 500px;
     align-items: center;
     padding: 20px;
 }
 
 .ctn-coffee .card .content {
     font-size: 13px;
     margin-right: 20px;
 }
 
 .ctn-coffee .card img {
     width: 100px;
     border-radius: 50%;
 }
 
 .ctn-coffee .card .picture {
     position: relative;
 }
 
 .ctn-coffee .card .price {
     color: white;
     background: var(--main-color);
     width: 35px;
     height: 35px;
     border-radius: 50%;
     position: absolute;
     left: -10px;
     top: -5px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 /* +++++++++++++++++++++++++++++++++++++++++++++++ Products +++++++++++++++++++++++++++++++++++++ */

.products .heading{
     color: black;
     font-size: 25px;
     margin-bottom: 40px;
}

 .products .box-container{
     display: flex;
     gap: 1.5rem;
     color: black;
 }
 
 .products .box-container .box{
     height: 420px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: column;
     text-align: center;
     border: black;
     padding: 1rem;
     /* border: 0.1px black solid; */
     border-radius: 10px;
     /* background: var(--primary-color);;` */
     box-shadow: 0 5px 10px orange
 }

 .products .box-container .box:hover{
     transform: translateY(-10px);
     cursor: pointer;
 }

 .products .box-container .box::after{
     content: 'افزودن به سبد خرید';
     position: relative;
     width: 100%;
     height: 0;
     color: #000;
     border-radius: 10px;
     background: orange;
     padding-top: 10px;
     z-index: 1000;
     transition: .5s;
     opacity: 0;
 }

 .products .box-container .box:hover::after{
     height: 20%;
     opacity: 100%;
 }
 
 .products .box-container .box .icons a{
     height: 5rem;
     width: 5rem;
     line-height: 5rem;
     font-size: 25px;
     border: black;
     color: #fff;
     margin: .3rem;
 }

 .products .box-container .box .content-hidden{
     height: 140px;
     overflow: hidden;
 }

 .products .box-container .box .content{
     
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     row-gap: 10px;
     transition: .5s ease;
     
 }

 .products .box-container .box:hover .content{
     transform: translateY(-200px);
 }

 
 .products .box-container .box .image img{
     height: 15rem;
     width: 19rem;
 }
 
 .products .box-container .box .content h3{
     color: black;
     font-size: 25px;
 }
 
 .products .box-container .box .content .stars i{
     padding: 2px;
     cursor: pointer;
 }
 
 
 .products .box-container .box .content .stars{
     color: orange;
     display: flex;
     font-size: 20px;
 }
 
 .products .box-container .box .content .price{
     color: black;
     font-size: 25px;
 }
 
 .products .box-container .box .content .price span{
     text-decoration: line-through;
     font-size: 18px;
     font-weight: lighter;
 }

/*+++++++++++++++++++++++booktable+++++++++++++++++++++++++++++*/

 .booktable-container {
     display: flex;
     justify-content: space-between;
     align-items: none;
     max-width: 1100px;
     background: #eee;
     border-radius: 10px;
     overflow: hidden;
     background-color: #26282a;
     margin: auto;
 }
 
 .booktable-container .inputs {
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding: 30px 0;
 }
 
 .booktable-container .inputs input {
     color: white;
     width: 400px;
     text-align: center;
     padding: 5px;
     outline: none;
     border: 1px solid #FF8F00;
     background-color: #393E46;
     font-size: 18px;
     border-radius: 10px;
     margin-top: 10px;
 }
 
 .booktable-container .inputs h1 {
     color: white;
     text-align: center;
     font-size: 2rem;
 }
 
 .booktable-container .inputs button {
     color: white;
     width: 400px;
     height: 50px;
     background-color: #FF8F00;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 18px;
     transition: background-color 0.6s;
     margin-top: 15px;
 }
 
 .booktable-container .inputs button:hover {
     background-color: transparent;
     border: 1px solid #FF8F00;
     color: #FF8F00;
 }
 
 .booktable-container .content {
     width: 50%;
     background-image: url('./img/bean1.jpg');
     background-size: cover;
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: space-evenly;
     padding: 10px 60px;
     position: relative;
     color: white;
 }

 .booktable-container .content::after{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.6);
 }

 .booktable-container .content h1 {
     color: var(--primary-color);
     font-size: 2rem;
     font-family: estebdad_bold;
     z-index: 10;
 }
 
 .booktable-container .content p,
 .booktable-container .content h2 {
     z-index: 10;
 }
 
 .booktable-container .content p i {
     margin-left: 10px;
     font-size: 1.5rem;
     color: #FF8F00;
 }

/* +++++++++++++++++++++++ about +++++++++++++++++++++++++++++ */

#about .content{
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 25px 20px;
}

#about .content .our_sotry{
     width: 20%;
     margin-right: 50px;
     padding: 10px;
}

#about .content .our_sotry h3,
#about .content .feature h3{
     font-size: 18px;
}

#about .content .our_sotry p,
#about .content .feature p{
     text-align: initial;
     margin-top: 20px;
     line-height: 25px;
}

#about .content .our_sotry p:nth-child(3){
     color: gray;
     margin-top: 0;
}

#about .content .content_img{
     width: 25%;
     display: flex;
     justify-content: center;
     align-items: center;
}

#about .content .content_img img{
     object-fit: cover;
     margin: 60px 0 0 0;
}

#about .content  .feature{
     width: 20%;
     margin-left: 40px;
     padding: 10px;
}

#about .content .feature p{
     color: #333333;

}

#about .content .feature ul li{
     margin:10px 20px 0 0 ;
     list-style: none;
     position: relative;
     font-size: 14px;
}

#about .content .feature ul li::before{
     content: "";
     position: absolute;
     border-color: orange;
     border-style: solid;
     border-width: 0 0.3em 0.25em 0;
     height: 1em;
     top: 1em;
     right: -20px;
     margin-top: -1em;
     transform: rotate(45deg);
     width: 0.5em;
}

#about .content button{
     border-radius: 10px;
     padding: 8px 40px;
     border: 1px solid orange;
     color: orange;
     background: white;
     margin-top: 20px;
     transition: .4s linear;
}

#about .content .our_sotry button{
     color: rgb(252, 252, 252);
     background: orange;
     border: 1px solid white;
}

#about .content .our_sotry button:hover{
     background: white;
     color: orange;
     border: 1px solid orange;
}

#about .content button:hover{
     background: orange;
     color: white;
     cursor: pointer;
}

/* +++++++++++++++++++++++ service +++++++++++++++++++++++++++++ */

#our-services .cart-item-container{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 5px;
     margin-top: 90px;
}

#our-services .cart-item-container .cart-item{
     width: 46%;
     height: 200px;
     /* background: rgb(0, 225, 255); */
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 0 10px 0 70px;
}

#our-services .cart-item-container .cart-item img{
     width: 200px;
}

#our-services .cart-item-container .cart-item .content{
     text-align: start;
}

#our-services .cart-item-container .cart-item .content p{
     text-align: justify;
     /* font-family: estedad_semibold; */
     color: gray;
     font-size: 14px;
     margin-top: 10px;
}

/* +++++++++++++++++++++++ offer +++++++++++++++++++++++++++++ */

#special-offer{
     width: 100%;
     height: 600px;
     background: rgb(155, 155, 155);
     margin:-100px 0 0 0;
     color: white;
}

#special-offer .container-img{
     width: 100%;
     height: 100%;
     background: url('./img/paper-bg.png');
     background-size: 800px ;
     position: relative;
     left: 0;
     top: 0;
}

#special-offer .container-img .content{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

#special-offer .container-img .content h2{
     color: var(--primary-color);
     font-size: 50px;
     font-family: estebdad_bold;
}

#special-offer .container-img .content form{
     display: flex;
     margin-top: 40px;
}

#special-offer .container-img .content form a{
     background: var(--primary-color);
     width: 70px;
     height: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     top: 0;
     right: 0;
     transition: .3s linear;
}

#special-offer .container-img .content form a:hover{
     cursor: pointer;
     background: white;
     color: var(--primary-color);
}

#special-offer .container-img .content form input{
     padding: 0 15px;
     border: none;
     outline: none;
}

#special-offer .container-img .content form input::placeholder{
     font-family: estedad_regular;
     font-size: 12px;
}

/* +++++++++++++++++++++++ comments +++++++++++++++++++++++++++++ */

#comments .card-container{
     width: 1200px;
     height: 250px;
     margin: 20px auto;
     display: flex;
     justify-content: center;
     align-items: start;
     margin-top: 50px;
}
#comments .card-container .card-wrapper{
     width: 100%;
     padding: 10px 20px;
}

#comments .card-container .card-wrapper .swiper-pagination-bullet {
     height: 13px;
     width: 13px;
     opacity: 0.5;
     background: var(--primary-color);;
}

#comments .card-container .card-wrapper .swiper-pagination-bullet-active{
     opacity: 1;
}

#comments .card-container .card-list{
     width: 100%;
     display: flex;
     justify-content: space-around;
}

#comments .card-item{
     display: flex;
     flex-direction: column;
     gap:15px;
     width: 330px;
     box-shadow: 0 10px 10px rgb(190, 190, 190);
     background: linear-gradient(orange, rgb(248, 189, 79));
     border-radius: 10px;
     padding: 20px 20px 20px 70px;
     transition: .4s linear;
}

#comments .card-item:hover{
     transform: translateY(-10px);
     cursor: pointer;
}

#comments .card-item .card-img{
     display: flex;
}

#comments .card-item .card-img .card-title{
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-right: 10px;
}

#comments .card-item .card-img .card-title h5{
     color: #5a5959;
     font-weight: 100;
}

#comments .card-item img{
     width: 60px;
     height: 60px;
     border-radius: 50%;
     object-fit: cover;
     outline: white 1px solid;
     outline-offset: 3px;
}

#comments .card-item .card-des p{
     text-align: justify;
     color: #5a5959;
     font-weight: 100;
}

/* +++++++++++++++++++++++ Footer +++++++++++++++++++++++++++++ */

.footer {
     background-image: url(img/bean1.jpg);
     background-size: cover;
     object-fit: cover;
     position: relative;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     overflow: hidden;
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 
 .footer .footer-ctn {
     display: flex;
     width: 1250px;
     justify-content: space-between;
     padding: 0 50px;
     padding: 20px;
     color: white;
     overflow: hidden;

 }
 
 .footer .card {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
 }
 
 .footer .card h2{
     font-size: 15px;
 }
 
 .footer .card button {
     color: white;
     width: 100px;
     height: 30px;
     background-color: #FF8F00;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 15px;
     transition: background-color 0.6s;
     margin-top: 15px;
 }
 
 .footer>h1 {
     color: white;
     padding: 5px 0px;
     border-top: 1px solid #eee;
     font-size: 15px;
     text-align: center;
 }
 
 .footer .footer-ctn .icon-box {
     display: flex;
     font-size: 20px;
     color: white;
     gap: 5px;
     margin-top: 15px;
 }
 
 .footer .footer-ctn .icon-box i {
     border: 1px solid white;
     padding: 10px;
     border-radius: 1px;
     transition: 0.5s;
     cursor: pointer;
 }
 
 .footer .footer-ctn .icon-box i:hover {
     color: #FF8F00;
     border: 1px solid #FF8F00;
 }
 
 .footer .overlay {
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.6);
     position: absolute;
     z-index: -1;
 }
 
 .footer .card input {
     color: white;
     width: 200px;
     height: 30px;
     text-align: center;
     outline: none;
     border: 1px solid #FF8F00;
     background-color: #393E46;
     font-size: 15px;
     border-radius: 10px;
     margin-top: 10px;
 }
 
 .footer .card button:hover {
     background-color: transparent;
     border: 1px solid #FF8F00;
     color: #FF8F00;
 }





















 @media (max-width: 992px) {
     .header {
         padding: 1.3rem 5%;
     }
 }

@media screen and (max-width:678px){
     .carousel .list .item .content{
          padding-right: 0px;
          left: 50%;
     }

     .carousel .list .item .content .title{
          font-size: 30px;
     }
     
     /* .carousel .thumbnail {
          display: none;
     } */

     .carousel .arrows{
          left: 60%;
     }

     #about .content{
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

     #about .content .our_sotry,
     #about .content .content_img,
     #about .content .feature{
          width: 100%;
          margin-left: 40px;
     }

     #about .content img{
          width: 90%;
          margin: 100px 0;
     }

     #about .content .feature{
          margin: 0 50px;
     }

     #our-services .cart-item-container{
          flex-direction: column;
     }

     #our-services .cart-item-container .cart-item{
          width: 100%;
          justify-content: center;
          flex-direction: column;
          margin: 30px 0 150px 0;
          padding: 30px;
      }

      #comments .card-container{
          width: 100%;
      }

      #comments .card-item{
          width: 150px
      }

      .products .box-container{
          flex-direction: column;
     }

     .header {
          display: flex;
          padding: 1px 10%;
      }
  
      .icons {
          display: inline-flex;
      }

      .logo{
          margin-right: 80px;
      }

      .logo i{
          display: none;
      }
  
      .icons-s {
          display: none;
      }
  
      #check:checked~.icons #menu-icon {
          display: none;
      }
  
      .icons #close-icon {
          display: none;
      }
  
      #check:checked~.icons #close-icon {
          display: block;
      }
  
      .navbar {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 0;
          background: rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(50px);
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
          overflow: hidden;
          transition: .3s ease;
      }
  
      #check:checked~.navbar {
          height: 17.7rem;
      }
  
      .navbar a {
          display: block;
          font-size: 1.1rem;
          margin: 1.5rem 0;
          text-align: center;
          transform: translateY(-50px);
          opacity: 0;
          transition: .3s ease;
      }
  
      #check:checked~.navbar a {
          transform: translateY(0);
          opacity: 1;
          transition-delay: calc(.15s * var(--i));
      }
  
      .menu-container {
          flex-direction: column;
          align-items: center;
      }
  
      .ctn-coffee .card {
          padding: 20px 30px;
      }
  
      .booktable-container {
          flex-direction: column;
          align-items: center;
          margin: 0 10px;
      }
  
      .booktable-container .content {
          width: 100%;
      }
  
      .booktable-container h1 {
          margin-top: 10px;
      }
  
      .booktable-container p {
          margin: 10px 0px;
      }
  
      .footer-ctn{
          flex-direction: column;
          text-align: center;
          margin: 0 10px;
      }
  
      .footer .card {
          margin-top: 30px;
      }
}

@media (max-width: 415px){
     .ctn-coffee .card{
          padding: 0 65px;
          margin-top: 40px;
     }

     .menu-container{
          margin-top: 0px;
     }

     .menu-container h1{
          margin-top: 50px;
     }

     .products .box-container .box{
          padding: 0rem;
     }

     .booktable-container .inputs input{
          width: 350px;
     }

     .booktable-container .inputs button{
          width: 350px;
     }
}